.custom-header {
    ion-toolbar {
        background-color: #6f9be7;
        padding: 10px;
      }
  }

  .custom-breadcrumbs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }
.ion-padding{
  height: 50%;
}
  .tabs1{
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }
