<div class="ion-page">
  <ion-header [translucent]="true" class="custom-header">
    <ion-toolbar>
      <ion-buttons slot="end">
      </ion-buttons>
      <ion-title class="ion-title">{{mensaje}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-breadcrumbs></ion-breadcrumbs>
<ion-content class="ion-padding">
  <ion-searchbar showCancelButton="focus" class="custom"></ion-searchbar>
  <h5>pedidos xhate</h5>
  <div>

  </div>

  <ion-tabs class="tabs1">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" class="home">
        <ion-icon name="home-outline"></ion-icon>Inicio
      </ion-tab-button>
      <ion-tab-button tab="person" (click)="us()">
        <ion-icon name="person-outline" (click)="us()"></ion-icon>Perfil
      </ion-tab-button>
      <ion-tab-button tab="useredi" (click)="ped()">
        <ion-icon name="bag-handle-outline" (click)="ped()"></ion-icon>Pedidos
      </ion-tab-button>
      <ion-tab-button tab="exit" (click)="logout()">
        <ion-icon name="log-in-outline" (click)="logout()"></ion-icon>Cerrar Sesión
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>
</div>
